IMPORT MODULE

In [1]:
import pandas as pd
import numpy as npt
import seaborn as sns
from matplotlib import pyplot as plt
import statistics as stat
from scipy.stats import shapiro
import plotly.graph_objs as go
from statsmodels.tsa.stattools import adfuller, acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.sandbox.stats.runs import runstest_1samp

STORE DATA

In [19]:
#INFLASI UMUM
df_inflasi = pd.read_csv('./fix_dataset/Data Inflasi 2003 - 2022.csv')
df_inflasi_2023 = pd.read_csv('./fix_dataset/Data Inflasi 2023.csv')
#INFLASI PENDIDIKAN
df_ip_pendidikan_2020 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2020-Pendidikan.csv')
df_ip_pendidikan_2021 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2021-Pendidikan.csv')
df_ip_pendidikan_2022 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Pendidikan.csv')
df_ip_pendidikan_2023 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2023-Pendidikan.csv')

df_ip_menengah_2020 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2020-Menengah.csv')
df_ip_menengah_2021 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2021-Menengah.csv')
df_ip_menengah_2022 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Menengah.csv')
df_ip_menengah_2023 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2023-Menengah.csv')

df_ip_tinggi_2020 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2020-Tinggi.csv')
df_ip_tinggi_2021 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2021-Tinggi.csv')
df_ip_tinggi_2022 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Tinggi.csv')
df_ip_tinggi_2023 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2023-Tinggi.csv')

df_ip_lainnya_2020 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2020-Lainnya.csv')
df_ip_lainnya_2021 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2021-Lainnya.csv')
df_ip_lainnya_2022 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Lainnya.csv')
df_ip_lainnya_2023 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2023-Lainnya.csv')

In [ ]:

#INFLASI TAHUN KALENDER PENDIDIKAN
df_tp_kurpel_2014 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2014-Kursus-Kepelatihan.csv')
df_tp_pendidikan_2014 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2014-Pendidikan.csv')
df_tp_perlengkapan_2014 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2014-Perlengkapan.csv')

df_tp_kurpel_2015 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2015-Kursus-Kepelatihan.csv')
df_tp_pendidikan_2015 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2015-Pendidikan.csv')
df_tp_perlengkapan_2015 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2015-Perlengkapan.csv')

df_tp_kurpel_2016 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2016-Kursus-Kepelatihan.csv')
df_tp_pendidikan_2016 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2016-Pendidikan.csv')
df_tp_perlengkapan_2016 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2016-Perlengkapan.csv')

df_tp_kurpel_2017 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2017-Kursus-Kepelatihan.csv')
df_tp_pendidikan_2017 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2017-Pendidikan.csv')
df_tp_perlengkapan_2017 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2017-Perlengkapan.csv')

df_tp_kurpel_2018 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2018-Kursus-Kepelatihan.csv')
df_tp_pendidikan_2018 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2018-Pendidikan.csv')
df_tp_perlengkapan_2018 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2018-Perlengkapan.csv')

df_tp_kurpel_2019 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2019-Kursus-Kepelatihan.csv')
df_tp_pendidikan_2019 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2019-Pendidikan.csv')
df_tp_perlengkapan_2019 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2019-Perlengkapan.csv')

# DATA CLEANING

* DATA INFLASI UMUM

In [20]:
df_inflasi.head()

        Month Inflasi
0  12/01/2022  5.51 %
1  11/01/2022  5.42 %
2  10/01/2022  5.71 %
3  09/01/2022  5.95 %
4  08/01/2022  4.69 %

In [21]:
#Clean data, object->date and float
df_inflasi["Inflasi"] = df_inflasi["Inflasi"].str.replace(" %", "")
df_inflasi["Inflasi"] = pd.to_numeric(df_inflasi["Inflasi"], errors="coerce")
df_inflasi['Inflasi'] = df_inflasi['Inflasi'] * 0.01

In [30]:
df_inflasi['Month'] = pd.to_datetime(df_inflasi['Month'], format='%m/%d/%Y')

In [31]:
df_inflasi

         Month  Inflasi
0   2022-12-01   0.0551
1   2022-11-01   0.0542
2   2022-10-01   0.0571
3   2022-09-01   0.0595
4   2022-08-01   0.0469
..         ...      ...
235 2003-05-01   0.0715
236 2003-04-01   0.0762
237 2003-03-01   0.0717
238 2003-02-01   0.0760
239 2003-01-01   0.0868

[240 rows x 2 columns]

In [24]:
df_inflasi_2023.head()

        Month Inflasi
0  12/01/2023  2.61 %
1  11/01/2023  2.86 %
2  10/01/2023  2.56 %
3  09/01/2023  2.28 %
4  08/01/2023  3.27 %

In [25]:
#Clean data, object->date and float
df_inflasi_2023["Inflasi"] = df_inflasi_2023["Inflasi"].str.replace(" %", "")
df_inflasi_2023["Inflasi"] = pd.to_numeric(df_inflasi_2023["Inflasi"], errors="coerce")
df_inflasi_2023['Inflasi'] = df_inflasi_2023['Inflasi'] * 0.01

In [32]:
df_inflasi_2023['Month'] = pd.to_datetime(df_inflasi_2023['Month'], format='%m/%d/%Y')

In [33]:
df_inflasi_2023

        Month  Inflasi
0  2023-12-01   0.0261
1  2023-11-01   0.0286
2  2023-10-01   0.0256
3  2023-09-01   0.0228
4  2023-08-01   0.0327
5  2023-07-01   0.0308
6  2023-06-01   0.0352
7  2023-05-01   0.0400
8  2023-04-01   0.0433
9  2023-03-01   0.0497
10 2023-02-01   0.0547
11 2023-01-01   0.0528

In [34]:
print('Data Inflasi Umum 2003-2022:\n',df_inflasi.dtypes)
print('Data Inflasi Umum 2023:\n',df_inflasi_2023.dtypes)

Data Inflasi Umum 2003-2022:
 Month      datetime64[ns]
Inflasi           float64
dtype: object
Data Inflasi Umum 2023:
 Month      datetime64[ns]
Inflasi           float64
dtype: object