In [47]:
import pandas as pd
import numpy as npt
import seaborn as sns
from matplotlib import pyplot as plt

In [48]:
#READ DATA FROM INFLASI PENDIDIKAN 2020-2023 SECTION: PENDIDIKAN
pendidikan_if2020 = pd.read_csv('./dataset/Inflasi Pendidikan 2020-Pendidikan.csv') 
pendidikan_if2020['Tahun'] = 2020
pendidikan_if2021 = pd.read_csv('./dataset/Inflasi Pendidikan 2021-Pendidikan.csv') 
pendidikan_if2021['Tahun'] = 2021
pendidikan_if2022 = pd.read_csv('./dataset/Inflasi Pendidikan 2022-Pendidikan.csv') 
pendidikan_if2022['Tahun'] = 2022
pendidikan_if2023 = pd.read_csv('./dataset/Inflasi Pendidikan 2023-Pendidikan.csv') 
pendidikan_if2023['Tahun'] = 2023

pendidikan_if2023['November'] = pendidikan_if2023['November'].fillna(0)
pendidikan_if2023['Desember'] = pendidikan_if2023['Desember'].fillna(0)
pendidikan_if2023

df_pendidikan_if_merged = pd.concat([pendidikan_if2020, pendidikan_if2021, pendidikan_if2022, pendidikan_if2023], sort=False)
df_pendidikan_if_merged.reset_index(drop=False, inplace=True)
df_pendidikan_if_merged

,index,90 Kota Inflasi (2018=100),Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahun
0,0,KOTA MEULABOH,0.00,0.00,0.0,0.0,0.00,0.00,1.01,0.00,0.00,0.00,0.0,0.0,2020
1,1,KOTA BANDA ACEH,0.03,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.76,0.00,0.0,0.0,2020
2,2,KOTA LHOKSEUMAWE,0.00,0.00,0.0,0.0,0.00,0.00,0.07,0.00,5.75,0.00,0.0,0.0,2020
3,3,KOTA SIBOLGA,2.58,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,2020
4,4,KOTA PEMATANG SIANTAR,0.00,0.00,0.0,0.0,0.00,0.00,0.00,3.12,0.00,0.00,0.0,0.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,86,KOTA SORONG,0.06,0.00,0.0,0.0,0.00,0.00,0.00,-3.04,0.00,0.00,0.0,0.0,2023
360,87,MERAUKE,0.00,0.00,0.0,0.0,0.00,0.87,1.37,0.81,0.00,0.00,0.0,0.0,2023
361,88,TIMIKA,1.09,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,2023
362,89,KOTA JAYAPURA,0.00,0.00,0.0,0.0,0.00,0.00,5.18,0.00,0.00,0.00,0.0,0.0,2023
363,90,INDONESIA,0.12,0.03,0.0,0.0,0.01,0.01,0.66,0.86,0.21,0.07,0.0,0.0,2023

In [51]:
# plt.figure(figsize=(10,10))
# sns.heatmap(df_pendidikan_if_merged.corr(), annot=True)

ValueError: could not convert string to float: 'KOTA MEULABOH'

In [15]:

menengah_if2020 = pd.read_csv('./dataset/Inflasi Pendidikan 2020-Menengah.csv')
menengah_if2020['Tahun'] = 2020
menengah_if2021 = pd.read_csv('./dataset/Inflasi Pendidikan 2021-Menengah.csv')
menengah_if2021['Tahun'] = 2021
menengah_if2022 = pd.read_csv('./dataset/Inflasi Pendidikan 2022-Menengah.csv')
menengah_if2022['Tahun'] = 2022
menengah_if2023 = pd.read_csv('./dataset/Inflasi Pendidikan 2023-Menengah.csv')
menengah_if2023['Tahun'] = 2023

df_menengah_if_merged = pd.concat([menengah_if2020, menengah_if2021, menengah_if2022, menengah_if2023], sort=False)
df_menengah_if_merged.reset_index(drop=False, inplace=True)
df_menengah_if_merged.dtypes

index                           int64
90 Kota Inflasi (2018=100)     object
Januari                       float64
Februari                      float64
Maret                         float64
April                         float64
Mei                           float64
Juni                          float64
Juli                          float64
Agustus                       float64
September                     float64
Oktober                       float64
November                      float64
Desember                      float64
Tahun                           int64
dtype: object

In [16]:

tinggi_if2020 = pd.read_csv('./dataset/Inflasi Pendidikan 2020-Menengah.csv')
tinggi_if2020['Tahun'] = 2020
tinggi_if2021 = pd.read_csv('./dataset/Inflasi Pendidikan 2021-Menengah.csv')
tinggi_if2021['Tahun'] = 2021
tinggi_if2022 = pd.read_csv('./dataset/Inflasi Pendidikan 2021-Menengah.csv')
tinggi_if2022['Tahun'] = 2022
tinggi_if2023 = pd.read_csv('./dataset/Inflasi Pendidikan 2021-Menengah.csv')
tinggi_if2023['Tahun'] = 2023

df_tinggi_if_merged = pd.concat([tinggi_if2020, tinggi_if2021, tinggi_if2022, tinggi_if2023], sort=False)
df_tinggi_if_merged.reset_index(drop=False, inplace=True)
df_tinggi_if_merged.dtypes

index                           int64
90 Kota Inflasi (2018=100)     object
Januari                       float64
Februari                      float64
Maret                         float64
April                         float64
Mei                           float64
Juni                          float64
Juli                          float64
Agustus                       float64
September                     float64
Oktober                       float64
November                      float64
Desember                      float64
Tahun                           int64
dtype: object

In [17]:

lainnya_if2020 = pd.read_csv('./dataset/Inflasi Pendidikan 2020-Lainnya.csv')
lainnya_if2020['Tahun'] = 2020
lainnya_if2021 = pd.read_csv('./dataset/Inflasi Pendidikan 2021-Lainnya.csv')
lainnya_if2021['Tahun'] = 2021
lainnya_if2022 = pd.read_csv('./dataset/Inflasi Pendidikan 2022-Lainnya.csv')
lainnya_if2022['Tahun'] = 2022
lainnya_if2023 = pd.read_csv('./dataset/Inflasi Pendidikan 2023-Lainnya.csv')
lainnya_if2023['Tahun'] = 2023

df_lainnya_if_merged = pd.concat([lainnya_if2020, lainnya_if2021, lainnya_if2022, lainnya_if2023], sort=False)
df_lainnya_if_merged.reset_index(drop=False, inplace=True)
df_lainnya_if_merged.dtypes

index                           int64
90 Kota Inflasi (2018=100)     object
Januari                       float64
Februari                      float64
Maret                         float64
April                         float64
Mei                           float64
Juni                          float64
Juli                          float64
Agustus                       float64
September                     float64
Oktober                       float64
November                      float64
Desember                      float64
Tahun                           int64
dtype: object

In [19]:
df_pendidikan_if_merged.isnull().sum()

index                          0
90 Kota Inflasi (2018=100)     0
Januari                        0
Februari                       0
Maret                          0
April                          0
Mei                            0
Juni                           0
Juli                           0
Agustus                        0
September                      0
Oktober                        0
November                      91
Desember                      91
Tahun                          0
dtype: int64

In [20]:
df_menengah_if_merged.isnull().sum()

index                          0
90 Kota Inflasi (2018=100)     0
Januari                        0
Februari                       0
Maret                          0
April                          0
Mei                            0
Juni                           0
Juli                           0
Agustus                        0
September                      0
Oktober                        0
November                      91
Desember                      91
Tahun                          0
dtype: int64

In [22]:
df_tinggi_if_merged.isnull().sum()

index                         0
90 Kota Inflasi (2018=100)    0
Januari                       0
Februari                      0
Maret                         0
April                         0
Mei                           0
Juni                          0
Juli                          0
Agustus                       0
September                     0
Oktober                       0
November                      0
Desember                      0
Tahun                         0
dtype: int64

In [23]:
df_lainnya_if_merged.isnull().sum()

index                          0
90 Kota Inflasi (2018=100)     0
Januari                        0
Februari                       0
Maret                          0
April                          0
Mei                            0
Juni                           0
Juli                           0
Agustus                        0
September                      0
Oktober                        0
November                      91
Desember                      91
Tahun                          0
dtype: int64