IMPORT MODULE

In [1]:
import pandas as pd
import numpy as npt
import seaborn as sns
from matplotlib import pyplot as plt
import statistics as stat
from scipy.stats import shapiro
import plotly.graph_objs as go
from statsmodels.tsa.stattools import adfuller, acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.sandbox.stats.runs import runstest_1samp

STORE DATA

In [2]:
#INFLASI UMUM
df_inflasi = pd.read_csv('./fix_dataset/Data Inflasi 2003 - 2022.csv')
df_inflasi_2023 = pd.read_csv('./fix_dataset/Data Inflasi 2023.csv')
#INFLASI PENDIDIKAN
df_ip_pendidikan_2020 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2020-Pendidikan.csv')
df_ip_pendidikan_2021 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2021-Pendidikan.csv')
df_ip_pendidikan_2022 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Pendidikan.csv')
df_ip_pendidikan_2023 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2023-Pendidikan.csv')

df_ip_menengah_2020 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2020-Menengah.csv')
df_ip_menengah_2021 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2021-Menengah.csv')
df_ip_menengah_2022 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Menengah.csv')
df_ip_menengah_2023 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2023-Menengah.csv')

df_ip_tinggi_2020 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2020-Tinggi.csv')
df_ip_tinggi_2021 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2021-Tinggi.csv')
df_ip_tinggi_2022 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Tinggi.csv')
df_ip_tinggi_2023 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2023-Tinggi.csv')

df_ip_lainnya_2020 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2020-Lainnya.csv')
df_ip_lainnya_2021 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2021-Lainnya.csv')
df_ip_lainnya_2022 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Lainnya.csv')
df_ip_lainnya_2023 = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2023-Lainnya.csv')

In [3]:

# #INFLASI TAHUN KALENDER PENDIDIKAN
# df_tp_kurpel_2014 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2014-Kursus-Kepelatihan.csv')
# df_tp_pendidikan_2014 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2014-Pendidikan.csv')
# df_tp_perlengkapan_2014 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2014-Perlengkapan.csv')

# df_tp_kurpel_2015 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2015-Kursus-Kepelatihan.csv')
# df_tp_pendidikan_2015 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2015-Pendidikan.csv')
# df_tp_perlengkapan_2015 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2015-Perlengkapan.csv')

# df_tp_kurpel_2016 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2016-Kursus-Kepelatihan.csv')
# df_tp_pendidikan_2016 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2016-Pendidikan.csv')
# df_tp_perlengkapan_2016 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2016-Perlengkapan.csv')

# df_tp_kurpel_2017 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2017-Kursus-Kepelatihan.csv')
# df_tp_pendidikan_2017 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2017-Pendidikan.csv')
# df_tp_perlengkapan_2017 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2017-Perlengkapan.csv')

# df_tp_kurpel_2018 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2018-Kursus-Kepelatihan.csv')
# df_tp_pendidikan_2018 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2018-Pendidikan.csv')
# df_tp_perlengkapan_2018 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2018-Perlengkapan.csv')

# df_tp_kurpel_2019 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2019-Kursus-Kepelatihan.csv')
# df_tp_pendidikan_2019 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2019-Pendidikan.csv')
# df_tp_perlengkapan_2019 = pd.read_csv('./fix_dataset/dataset-InflasiTahunPendidikan/Inflasi Tahun Pendidikan 2019-Perlengkapan.csv')

# DATA CLEANING

* DATA INFLASI UMUM

In [4]:
df_inflasi.head()

        Month Inflasi
0  12/01/2022  5.51 %
1  11/01/2022  5.42 %
2  10/01/2022  5.71 %
3  09/01/2022  5.95 %
4  08/01/2022  4.69 %

In [5]:
#Clean data, object->date and float
df_inflasi["Inflasi"] = df_inflasi["Inflasi"].str.replace(" %", "")
df_inflasi["Inflasi"] = pd.to_numeric(df_inflasi["Inflasi"], errors="coerce")
df_inflasi['Inflasi'] = df_inflasi['Inflasi'] * 0.01

In [6]:
df_inflasi['Month'] = pd.to_datetime(df_inflasi['Month'], format='%m/%d/%Y')

In [7]:
df_inflasi

         Month  Inflasi
0   2022-12-01   0.0551
1   2022-11-01   0.0542
2   2022-10-01   0.0571
3   2022-09-01   0.0595
4   2022-08-01   0.0469
..         ...      ...
235 2003-05-01   0.0715
236 2003-04-01   0.0762
237 2003-03-01   0.0717
238 2003-02-01   0.0760
239 2003-01-01   0.0868

[240 rows x 2 columns]

In [8]:
df_inflasi_2023.head()

        Month Inflasi
0  12/01/2023  2.61 %
1  11/01/2023  2.86 %
2  10/01/2023  2.56 %
3  09/01/2023  2.28 %
4  08/01/2023  3.27 %

In [9]:
#Clean data, object->date and float
df_inflasi_2023["Inflasi"] = df_inflasi_2023["Inflasi"].str.replace(" %", "")
df_inflasi_2023["Inflasi"] = pd.to_numeric(df_inflasi_2023["Inflasi"], errors="coerce")
df_inflasi_2023['Inflasi'] = df_inflasi_2023['Inflasi'] * 0.01

In [10]:
df_inflasi_2023['Month'] = pd.to_datetime(df_inflasi_2023['Month'], format='%m/%d/%Y')

In [11]:
df_inflasi_2023

        Month  Inflasi
0  2023-12-01   0.0261
1  2023-11-01   0.0286
2  2023-10-01   0.0256
3  2023-09-01   0.0228
4  2023-08-01   0.0327
5  2023-07-01   0.0308
6  2023-06-01   0.0352
7  2023-05-01   0.0400
8  2023-04-01   0.0433
9  2023-03-01   0.0497
10 2023-02-01   0.0547
11 2023-01-01   0.0528

In [12]:
print('Data Inflasi Umum 2003-2022:\n',df_inflasi.dtypes)
print('Data Inflasi Umum 2023:\n',df_inflasi_2023.dtypes)

Data Inflasi Umum 2003-2022:
 Month      datetime64[ns]
Inflasi           float64
dtype: object
Data Inflasi Umum 2023:
 Month      datetime64[ns]
Inflasi           float64
dtype: object

* DATA INFLASI PENDIDIKAN [PENDIDIKAN]

In [13]:
print('NAN Data:\n',df_ip_pendidikan_2020.isna().sum())
print('Type Data:\n',df_ip_pendidikan_2021.dtypes)

NAN Data:
 90 Kota Inflasi (2018=100)    0
01/01/2020                    0
01/02/2020                    0
01/03/2020                    0
01/04/2020                    0
01/05/2020                    0
01/06/2020                    0
01/07/2020                    0
01/08/2020                    0
01/09/2020                    0
01/10/2020                    0
01/11/2020                    0
01/12/2020                    0
dtype: int64
Type Data:
 90 Kota Inflasi (2018=100)     object
01/01/2021                    float64
01/02/2021                    float64
01/03/2021                    float64
01/04/2021                    float64
01/05/2021                    float64
01/06/2021                    float64
01/07/2021                    float64
01/08/2021                    float64
01/09/2021                    float64
01/10/2021                    float64
01/11/2021                    float64
01/12/2021                    float64
dtype: object

* DATA INFLASI PENDIDIKAN
- Melakukan cleaning data inflasi pendidikan
- Melakukan transpose data untuk menjadikan kota sebagai features
- Menggabungkan data inflasi pendidikan pertahun dan per kategori

In [14]:
df_ip_pendidikan_2020.head(91)

,90 Kota Inflasi (2018=100),01/01/2020,01/02/2020,01/03/2020,01/04/2020,01/05/2020,01/06/2020,01/07/2020,01/08/2020,01/09/2020,01/10/2020,01/11/2020,01/12/2020
0,KOTA MEULABOH,0.00,0.00,0.00,0.0,0.0,0.0,1.01,0.00,0.00,0.00,0.00,0.0
1,KOTA BANDA ACEH,0.03,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.76,0.00,0.00,0.0
2,KOTA LHOKSEUMAWE,0.00,0.00,0.00,0.0,0.0,0.0,0.07,0.00,5.75,0.00,0.00,0.0
3,KOTA SIBOLGA,2.58,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0
4,KOTA PEMATANG SIANTAR,0.00,0.00,0.00,0.0,0.0,0.0,0.00,3.12,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,KOTA SORONG,0.00,0.00,0.00,0.0,0.0,0.0,0.68,0.23,0.07,0.00,0.00,0.0
87,MERAUKE,0.00,0.00,0.45,0.0,0.0,0.0,0.58,0.00,0.00,0.00,0.00,0.0
88,TIMIKA,0.00,0.00,0.00,0.0,0.0,0.0,0.00,2.49,0.00,0.00,0.00,0.0
89,KOTA JAYAPURA,0.00,0.00,0.00,0.0,0.0,0.0,0.27,3.44,0.00,0.00,0.00,0.0
90,INDONESIA,-0.14,0.02,0.00,0.0,0.0,0.0,0.16,0.57,0.62,0.04,0.12,0.0

In [15]:
df_ip_pendidikan_2020_transpose = df_ip_pendidikan_2020.set_index('90 Kota Inflasi (2018=100)').transpose()
df_ip_pendidikan_2020_transpose = df_ip_pendidikan_2020_transpose.rename(columns={'90 Kota Inflasi (2018=100)': 'Period'}, inplace=True)
df_ip_pendidikan_2020_transpose.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
# df_ip_pendidikan.pivot(index=[''])

#UBAH DLU DATANYA, JADI BUKAN JANUARI, TPAI LANGSUNG FORMAT TANGGAL KEK 2020-01-01, 2020=02-01, 2020-03-01, dst