In [167]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [138]:
# names = os.listdir("./fix_dataset/dataset_InflasiPendidikan/")
# names = names[1:]
# names = ['Inflasi Pendidikan 2020-Lainnya.csv',
#  'Inflasi Pendidikan 2020-Menengah.csv',
#  'Inflasi Pendidikan 2020-Pendidikan.csv',
#  'Inflasi Pendidikan 2020-Tinggi.csv',
#  'Inflasi Pendidikan 2021-Lainnya.csv',
#  'Inflasi Pendidikan 2021-Menengah.csv',
#  'Inflasi Pendidikan 2021-Pendidikan.csv',
#  'Inflasi Pendidikan 2021-Tinggi.csv',
#  'Inflasi Pendidikan 2022-Lainnya.csv',
#  'Inflasi Pendidikan 2022-Menengah.csv',
#  'Inflasi Pendidikan 2022-Pendidikan.csv',
#  'Inflasi Pendidikan 2022-Tinggi.csv',
#  'Inflasi Pendidikan 2023-Lainnya.csv',
#  'Inflasi Pendidikan 2023-Menengah.csv',
#  'Inflasi Pendidikan 2023-Pendidikan.csv',
#  'Inflasi Pendidikan 2023-Tinggi.csv']

In [191]:
path1 = './fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Tinggi.csv'
path2 = './fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2023-Tinggi.csv'
path3 = './fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2021-Tinggi.csv'
path4 = './fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2020-Tinggi.csv'

In [155]:
# df = pd.read_csv('./fix_dataset/dataset_InflasiPendidikan/Inflasi Pendidikan 2022-Tinggi.csv')
# df.head()
# names = ['Inflasi Pendidikan 2020-Lainnya.csv',
#  'Inflasi Pendidikan 2020-Menengah.csv',
#  'Inflasi Pendidikan 2020-Pendidikan.csv',
#  'Inflasi Pendidikan 2020-Tinggi.csv',
#  'Inflasi Pendidikan 2021-Lainnya.csv',
#  'Inflasi Pendidikan 2021-Menengah.csv',
#  'Inflasi Pendidikan 2021-Pendidikan.csv',
#  'Inflasi Pendidikan 2021-Tinggi.csv',
#  'Inflasi Pendidikan 2022-Lainnya.csv',
#  'Inflasi Pendidikan 2022-Menengah.csv',
#  'Inflasi Pendidikan 2022-Pendidikan.csv',
#  'Inflasi Pendidikan 2022-Tinggi.csv',
#  'Inflasi Pendidikan 2023-Lainnya.csv',
#  'Inflasi Pendidikan 2023-Menengah.csv',
#  'Inflasi Pendidikan 2023-Pendidikan.csv',
#  'Inflasi Pendidikan 2023-Tinggi.csv']

# # for name in names[1:]:
# #     df1 = pd.read_csv(os.path.join("./fix_dataset/dataset_InflasiPendidikan", name))
# #     df1['Level'] = level
# #     level = name.split('-')[1].split('.')[0]
# #     df = pd.merge(df, df1, on='Kota')

In [192]:
df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)
df3 = pd.read_csv(path3)
df4 = pd.read_csv(path4)

In [193]:
df1.shape

(91, 13)

In [194]:
df = pd.merge(df1, df2, on='Kota')
# df = pd.merge(df, df3, on='Kota')
# df = pd.merge(df, df4, on='Kota')

In [195]:
df.head()

,Kota,01/01/2022,01/02/2022,01/03/2022,01/04/2022,01/05/2022,01/06/2022,01/07/2022,01/08/2022,01/09/2022,...,01/03/2023,01/04/2023,01/05/2023,01/06/2023,01/07/2023,01/08/2023,01/09/2023,01/10/2023,01/11/2023,01/12/2023
0,KOTA MEULABOH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN,NaN
1,KOTA BANDA ACEH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN,NaN
2,KOTA LHOKSEUMAWE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN,NaN
3,KOTA SIBOLGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.32,0.0,...,0.0,0.0,0.0,0.0,0.0,6.53,0.0,0.0,NaN,NaN
4,KOTA PEMATANG SIANTAR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,14.46,0.0,0.0,NaN,NaN

In [196]:
df.columns

Index(['Kota', '01/01/2022', '01/02/2022', '01/03/2022', '01/04/2022',
       '01/05/2022', '01/06/2022', '01/07/2022', '01/08/2022', '01/09/2022',
       '01/10/2022', '01/11/2022', '01/12/2022', '01/01/2023', '01/02/2023',
       '01/03/2023', '01/04/2023', '01/05/2023', '01/06/2023', '01/07/2023',
       '01/08/2023', '01/09/2023', '01/10/2023', '01/11/2023', '01/12/2023'],
      dtype='object')

In [197]:
new_df = pd.DataFrame()

In [198]:
melted_df = df.melt(id_vars=['Kota'], var_name='Date', value_name='InflationRate')
melted_df['Date'] = pd.to_datetime(melted_df['Date'], format='%d/%m/%Y')
melted_df['Year'] = melted_df['Date'].dt.year
melted_df['Month'] = melted_df['Date'].dt.month
melted_df.drop('Date', axis=1, inplace=True)
df = melted_df[['Kota', 'Year', 'Month', 'InflationRate']]

In [199]:
df.head()

                    Kota  Year  Month  InflationRate
0          KOTA MEULABOH  2022      1            0.0
1        KOTA BANDA ACEH  2022      1            0.0
2       KOTA LHOKSEUMAWE  2022      1            0.0
3           KOTA SIBOLGA  2022      1            0.0
4  KOTA PEMATANG SIANTAR  2022      1            0.0

In [200]:
df.Kota.unique()

array(['KOTA MEULABOH', 'KOTA BANDA ACEH', 'KOTA LHOKSEUMAWE',
       'KOTA SIBOLGA', 'KOTA PEMATANG SIANTAR', 'KOTA MEDAN',
       'KOTA PADANGSIDIMPUAN', 'KOTA GUNUNGSITOLI', 'KOTA PADANG',
       'KOTA BUKITTINGGI', 'TEMBILAHAN', 'KOTA PEKANBARU', 'KOTA DUMAI',
       'BUNGO', 'KOTA JAMBI', 'KOTA PALEMBANG', 'KOTA LUBUKLINGGAU',
       'KOTA BENGKULU', 'KOTA BANDAR LAMPUNG', 'KOTA METRO',
       'TANJUNG PANDAN', 'KOTA PANGKAL PINANG', 'KOTA BATAM',
       'KOTA TANJUNG PINANG', 'DKI JAKARTA', 'KOTA BOGOR',
       'KOTA SUKABUMI', 'KOTA BANDUNG', 'KOTA CIREBON', 'KOTA BEKASI',
       'KOTA DEPOK', 'KOTA TASIKMALAYA', 'CILACAP', 'PURWOKERTO', 'KUDUS',
       'KOTA SURAKARTA', 'KOTA SEMARANG', 'KOTA TEGAL', 'KOTA YOGYAKARTA',
       'JEMBER', 'BANYUWANGI', 'SUMENEP', 'KOTA KEDIRI', 'KOTA MALANG',
       'KOTA PROBOLINGGO', 'KOTA MADIUN', 'KOTA SURABAYA',
       'KOTA TANGERANG', 'KOTA CILEGON', 'KOTA SERANG', 'SINGARAJA',
       'KOTA DENPASAR', 'KOTA MATARAM', 'KOTA BIMA', 'WAINGAPU',
       'MAUMERE', 'KOTA KUPANG', 'SINTANG', 'KOTA PONTIANAK',
       'KOTA SINGKAWANG', 'SAMPIT', 'KOTA PALANGKA RAYA', 'KOTA BARU',
       'TANJUNG', 'KOTA BANJARMASIN', 'KOTA BALIKPAPAN', 'KOTA SAMARINDA',
       'TANJUNG SELOR', 'KOTA TARAKAN', 'KOTA MANADO', 'KOTA KOTAMOBAGU',
       'LUWUK', 'KOTA PALU', 'BULUKUMBA', 'WATAMPONE', 'KOTA MAKASSAR',
       'KOTA PARE-PARE', 'KOTA PALOPO', 'KOTA KENDARI', 'KOTA BUA-BAU',
       'KOTA GORONTALO', 'MAMUJU', 'KOTA AMBON', 'KOTA TUAL',
       'KOTA TERNATE', 'MANOKWARI', 'KOTA SORONG', 'MERAUKE', 'TIMIKA',
       'KOTA JAYAPURA', 'INDONESIA'], dtype=object)

In [201]:
df.isnull().sum()

Kota               0
Year               0
Month              0
InflationRate    182
dtype: int64

In [202]:
df['InflationRate'].fillna(0, inplace=True)

In [203]:
df.isnull().sum()

Kota             0
Year             0
Month            0
InflationRate    0
dtype: int64

In [204]:
df['Level'] = 'Tinggi'

In [205]:
df.head()

                    Kota  Year  Month  InflationRate   Level
0          KOTA MEULABOH  2022      1            0.0  Tinggi
1        KOTA BANDA ACEH  2022      1            0.0  Tinggi
2       KOTA LHOKSEUMAWE  2022      1            0.0  Tinggi
3           KOTA SIBOLGA  2022      1            0.0  Tinggi
4  KOTA PEMATANG SIANTAR  2022      1            0.0  Tinggi

In [206]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [208]:
# Label Encoder
label_encoder = LabelEncoder()

df['Level'] = label_encoder.fit_transform(df['Level'])
df['Kota'] = label_encoder.fit_transform(df['Kota'])

In [209]:
X = df.drop('InflationRate', axis=1)
Y = df['InflationRate']

In [210]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [211]:
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [212]:
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
model = SVR(kernel="linear")
# model = RandomForestRegressor()

model.fit(X_train, Y_train)

SVR(kernel='linear')

In [214]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score
## Predict Trained Data
Y_pred = model.predict(X_train)
mse = mean_squared_error(Y_train, Y_pred)
mae = mean_absolute_error(Y_train, Y_pred)
r2 = r2_score(Y_train, Y_pred)
# acc = accuracy_score(Y_train, Y_pred)
print(f"Mse : {mse}")
print(f"Mae : {mae}")
print(f"R2 : {r2}")
# print(f"Acc : {acc}")

Mse : 1.4465778179709876
Mae : 0.24237767618195027
R2 : -0.001509355466030593

In [215]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score
## Predict Test
Y_pred = model.predict(X_test)
mse = mean_squared_error(Y_test, Y_pred)
mae = mean_absolute_error(Y_test, Y_pred)
r2 = r2_score(Y_test, Y_pred)
# acc = accuracy_score(Y_train, Y_pred)
print(f"Mse : {mse}")
print(f"Mae : {mae}")
print(f"R2 : {r2}")
# print(f"Acc : {acc}")

Mse : 0.5590476666283539
Mae : 0.20085939826281451
R2 : 1.900242032293331e-05